<h1>你好，Spring Boot 3.0的学习者</h1>
<p>
    在本示例中，我们将学习如何使用Spring Boot 3.0制作
    构建一个 Web 应用程序
</p>
<ul>
    {{#videoList}}
        <li>{{name}}</li>
    {{/videoList}}
</ul>
<form action="/new-video" method="post">
    <input type="text" name="name">
    <button type="submit">提交</button>
</form>